/* All styles for your Card Components live here */
.card-banner {
  width: 716px;
  margin-left: 90px;
}
.card-content {
  font-size: 20px;
  margin-left: 90px;
  text-align: justify;
}
.card-content-site {
  color: gray;
  text-decoration: none;
}
